#mainOverlay {
	padding: 20px;
}
#mainOverlay .rightDiv {
	text-align: left;
	width: 70%;
}
#mainOverlay .leftDiv img {
	height: 250px;
	width: 250px;
}

#mainOverlay .briefInfo {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}

#details_table tr td {
	padding: 0 0 10px 0;
}

#details_table tr > td:first-child {
	width: 40%;
}

#mainOverlay ul {
	list-style: none outside none;
	padding: 0;
}

#gred_details li {
	background-color: lightblue;
	border-radius: 3px 3px 3px 3px;
	border-top: 6px solid green;
	display: inline-block;
	line-height: 2em;
	margin-right: 10px;
	padding: 10px;
	width: 19%;
}

#gred_details li:last-child {
	width: 25%;
}

#gred_details li span {
	display: block;
}

#mainOverlay h2 {
	text-align: left;
	margin: 0;
}

#mainOverlay p {
	text-align: left;
	margin-top:0px;
}

.hospitalImg {
	height: 300px;
	margin-top: -50px;
	width: 250px;
}

.hospitalDetails {
	width:70%;
}
